<a href="https://colab.research.google.com/github/FranzLouiseGloriani/CPEN-21A-CPE-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop Statement

In [1]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

print(week)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [2]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [3]:
#Try lang po
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for day in week:
  print(day)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement

In [6]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:          #stop sa thursday
  print(x)
  if x=="Thursday":
    break

for day in week:        #Try lang po
  print(day)
  if day=="Friday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday
Sunday
Monday
Tuesday
Wednesday
Thursday
Friday

In [13]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:          #Walang thursday
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through a String

In [14]:
for x in "week":        #print ng characters of week which is w, e, e, k
  print(x)

w
e
e
k

The range() function

In [22]:
for x in range(6):        #print 6 numbers starting from 0
  print("Example 1:", x)

for x in range(2, 6):     #6-2=4, print 2 hanggang 5 
  print("Example 2:", x)

Example 1: 0
Example 1: 1
Example 1: 2
Example 1: 3
Example 1: 4
Example 1: 5
Example 2: 2
Example 2: 3
Example 2: 4
Example 2: 5

Nested Loops

In [23]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective: 
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop Statement

In [26]:
i=1
while i<6:  #while hindi pa 6
  print(i)
  i+=1      #i=i+1 para mag add ng 1 at hindi repeat

1
2
3
4
5

The break statement

In [28]:
i=1
while i<6:
  print(i)
  if i==3:  #stop sa 3
    break
  i+=1      #i=i+1 para mag add ng 1 at hindi repeat
            #infinity pag wala nito

1
2
3

In [32]:
i=1
while i<6:
  i+=1        #mag start na sa 2 kasi dito
  if i==3:    #if naging 3, 
    continue  #mag continue or next sa 4 hanggang 6
  print(i)

2
4
5
6

The else statement

In [35]:
i=1
while i<6:
  print(i)
  i+=1      #para di mag infinity
else:
  print("i is no longer less than 6") #kapag hindi na i<6, ito na ipiprint nya

1
2
3
4
5
i is no longer less than 6

###Application 1
Create a Python program that displays:
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10 (in vertical)

In [36]:
for x in range(11):    
  print("Hello", x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [40]:
i=0
while i<11:
  print("Hello", i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [37]:
hello = ["Hello 0", "Hello 1", "Hello 2", "Hello 3", "Hello 4", "Hello 5", "Hello 6", "Hello 7", "Hello 8", "Hello 9", "Hello 10"]
for x in hello:
  print(x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

###Application 2
Create a Python program that displays integers less than 10 but not less than 3

In [69]:
i=0
while i<9:
  i+=1
  if i<3:
    continue
  print(i)

3
4
5
6
7
8
9

In [60]:
for i in range(3, 10):     
  print(i)

3
4
5
6
7
8
9

In [59]:
i=3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9

In [61]:
integers = ["3", "4", "5", "6", "7", "8", "9"]
for i in integers:
  print(i)

3
4
5
6
7
8
9